<script type="text/javascript">
var pw_confirm = function() {
	console.log($("#pw_confirm").val())
	console.log('')
	if($("#pw_confirm").val() == '') {
		$("#validate_pw_confirm").html('')
		return;
	}
	if($("#pw_confirm").val() != $("#password").val()) {
		$("#validate_pw_confirm").html('<img src="{{ url_for('static', filename="icons/cancel.png") }}" /> Passwords do not match.');
	} else {
		$("#validate_pw_confirm").html('<img src="{{ url_for('static', filename="icons/accept.png") }}" />');
	}
}
$(document).ready(function() {
	$("#pw_confirm").keyup(pw_confirm)
	$("#password").keyup(pw_confirm)
	$("#pw_confirm").blur(pw_confirm)
	$("#password").blur(pw_confirm)
})
</script>