{% extends "_base.html" %}
{% set active_page = 'change_password' %}
{% from "_util.html" import render_field %}
{% block title %}Change Password{% endblock %}

{% block head %}
	{% set ajax_fields = "['password']"|safe %}
	{% include "_form_verify_ajax.html" %}
	{% include "_form_password_check.html" %}
	{% include "_form_render_js.html" %}
{% endblock %}

{% block body %}
	{% if error %}
		{{ error }}
	{% endif %}
	<form method="POST" action=".">
		{{ ajax_fields }}
		{{ form.hidden_tag() }}
		<fieldset>
			<legend>Change Password</legend>
			<table>
			    {{ render_field(form.old_password) }}
				{{ render_field(form.password) }}
				{{ render_field(form.pw_confirm) }}
			</table>
		</fieldset>
		<input type="submit" value="Go">
	</form>
{% endblock %}