{% from "_util.html" import render_field_without_errors as render_field %}
{% extends "_base.html" %}
{% block head %}
	{% include "_form_render_js.html" %}
{% endblock %}
{% block title %}Password Reset{% endblock %}
{% block body %}
	<div align="center">
	<h3>Reset your Password</h3>
	</div>
	{% if error %}
		{{ error }}
	{% endif %}
	<form method="POST" action=".">
		<fieldset>
			<legend>Account Information</legend>
			{{ form.hidden_tag() }}
			<table>
				{{ render_field(form.username) }}
				{{ render_field(form.dob) }}
			</table>
			<input type="submit" value="Request Reset">
		</fieldset>
	</form>
{% endblock %}
