{% from "_util.html" import render_field %}
{% extends "_base.html" %}
{% set active_page = 'register' %}
{% block title %}Register Account{% endblock %}
{% block head %}
	{% include "_form_password_check.html" %}
	{% include "_form_render_js.html" %}	
{% endblock %}
{% block body %}
	{% if error %}
		{{ error }}
	{% endif %}
	<form method="POST" action=".">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend>New Password</legend>
			<table>
				{{ render_field(form.password) }}
				{{ render_field(form.pw_confirm) }}
			</table>
		</fieldset>
		<input type="submit" value="Go">
	</form>
{% endblock %}