{% extends "_base.html" %}
{% set active_page = 'upgrade_account' %}
{% from "_util.html" import render_field %}
{% block title %}Upgrade Account{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
	{% if error %}
		{{ error }}
	{% endif %}
	<form method="POST" action=".">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend>Request an Upgrade</legend>
			<table>
			    {{ render_field(form.sponsor) }}
				{{ render_field(form.reason) }}
			</table>
		</fieldset>
		<input type="submit" value="Go">
	</form>
{% endblock %}