{% from "_util.html" import render_pagination %}
{% extends "_base.html" %}
{% set active_page = 'userlist' %}
{% block title %}User List Page{% endblock %}
{% block body %}

{% macro sort_arrows(field) %}
	<a href="{{ url_for('userlist') }}?sort={{ field }}&amp;dir=asc"><img class="sort {% if sort == field and sort_dir == 'asc' %}sort_selected{% endif %}" src="{{ url_for('static', filename="icons/arrow_up.png") }}"/></a>
	<a href="{{ url_for('userlist') }}?sort={{ field }}&amp;dir=desc"><img class="sort {% if sort == field and sort_dir == 'desc' %}sort_selected{% endif %}" src="{{ url_for('static', filename="icons/arrow_down.png") }}"/></a>
{% endmacro %}
	<div align="center">
    <h3>User List</h3>
	</div>
	<table id="users">
		<tr>
			<th>Username {{ sort_arrows('username') }}</th>
			<th>Name {{ sort_arrows('name') }}</th>
			<th>E-mail {{ sort_arrows('email') }}</th>
			<th>Sponsor {{ sort_arrows('sponsor') }}</th>
			<th>UID {{ sort_arrows('uid') }}</th>
			<th>Status {{ sort_arrows('status') }}</th>
		</tr>
		<tr>
			<form action="{{ url_for(active_page) }}" method="GET">
			<th>{{ filter_form.username() }}</th>
			<th>{{ filter_form.last_name() }}</th>
			<th>{{ filter_form.email() }}</th>
			<th>{{ filter_form.sponsor() }}</th>
			<th>{{ filter_form.uid() }}</th>
			<th>{{ filter_form.status() }}<div style="display: none;"><input type="submit"></div></th>
			</form>
		</tr>
		{% for user in page.items %}
			<tr class="table_{{ loop.cycle('odd', 'even') }}">
				<td><a href="/edit/{{user.uid}}">{{ user.username }}</a></td>
				<td>{{ user.last_name }}, {{ user.first_name }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.sponsor }}</td>
				<td>{{ user.uid }}</td>
				<td>{{ user.status }}</td>
			</tr>
		{% endfor %}
	</table>
	
	{{ render_pagination(page, 'userlist') }}

{% endblock %}